html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

* {
    font-family: "Helvetica";
    color: #5c5c5c;
}


header {
    position: relative;
    border-bottom: 1px solid #d1d1d1;
    height: 100px;
}

#logo {
    position: absolute;
    display: inline-block;
    font-size: 2em;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}

nav {
    position: absolute;
    right: 40px;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
}

    nav a {
        padding: 14px 8px;
        text-decoration: none;
        background: #fff;
        color: #0099ff;
        transition: background-color .2s ease-in-out, color .2s ease-in-out;
    }

    nav a:hover {
        color: #fff;
        background-color: #0099ff;
    }



.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

main {
    position: relative;
}

section {
    width: 800px;
    position: relative;
    margin: auto;
    left: 50%;
    transform: translateX(-85%);
    padding: 50px 0;
}

.standard-title {
    font-size: 2.5em;
    color: #0099ff;
}

.inline-menu {
    display: flex;
    flex-wrap: nowrap;
}

.menu-item {
    flex: auto;
    border: 1px solid;
    height: 100px;
    text-align: center;
    cursor: pointer;
    margin: 0 5px;
    background: #fff;
    box-sizing: border-box;
    position: relative;
    transition: background .2s ease-in-out, color .2s ease-in-out, font-size .2s ease-in-out;
}

    .menu-item:hover {
        background: #ff0066;
        color: #fff;
        font-size: 22px;
    }

    .menu-item span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: inherit;
    }

form h3.form-legend {
    padding: 0;
    margin: 0;
}

.form-group {
    display: relative;
    margin-bottom: 15px;
}

form .form-control {
    width: 100%;
    padding: 12px 14px;
    box-sizing: border-box;
}

form label {
    display: inline-block;
    margin-bottom: 10px;
}

.btn {
    padding: 10px 14px;
    cursor: pointer;
    background: #fff;
    border: 2px solid transparent;
    border-radius: 3px;
}

.btn-info {
    border: 2px solid #0099cc;
    color: #0099cc;
    transition: background .2s ease-in-out, color .2s ease-in-out;
}
    .btn-info:hover {
        color: #fff;
        background: #0099cc;
    }

.btn-default {
    border: 2px solid #cccccc;
    color: #999999;
    transition: background .2s ease-in-out, color .2s ease-in-out;
}
    .btn-default:hover {
        color: #595959;
        background: #cccccc;
    }

textarea {
    resize: vertical;
}

.input-validator {
    color: #ff4d4d;
    font-weight: 600;
    margin-left: 10px;
}

footer {
    border-top: 1px solid #d1d1d1;
    height: 200px;
    position: relative;
}

#socialMediaLinks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-media-container {
    display: inline-block;
    height: 80px;
    width: 80px;
    position: relative;
    margin: 0 10px;
}

a.social-media-link {
    border: 2px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    border-radius: 100%;
    color: inherit;
    transition: color .2s ease-in-out, height .2s ease-in-out, width .2s ease-in-out;
}

a.social-media-link:hover {
    height: 80%;
    width: 80%;
    color: #0099ff;
    cursor: pointer;
}

a.social-media-link i {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}
